src/main/resources/wsdl/promotions.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8-b13937 svn-revision#13942. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8-b13937 svn-revision#13942. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
             xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
             xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.integration.angeloni.com.br/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/"
             targetNamespace="http://ws.integration.angeloni.com.br/" name="promotions">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://ws.integration.angeloni.com.br/" schemaLocation="promotions.xsd"/>
        </xsd:schema>
    </types>
    <message name="setVirtualPack">
        <part name="parameters" element="tns:setVirtualPack"/>
    </message>
    <message name="setVirtualPackResponse">
        <part name="parameters" element="tns:setVirtualPackResponse"/>
    </message>
    <message name="ResultMessageErrorInfo">
        <part name="fault" element="tns:ResultMessageErrorInfo"/>
    </message>
    <message name="ResultItemErrorInfo">
        <part name="fault" element="tns:ResultItemErrorInfo"/>
    </message>
    <message name="setGifts">
        <part name="parameters" element="tns:setGifts"/>
    </message>
    <message name="setGiftsResponse">
        <part name="parameters" element="tns:setGiftsResponse"/>
    </message>
    <message name="setGetXPayY">
        <part name="parameters" element="tns:setGetXPayY"/>
    </message>
    <message name="setGetXPayYResponse">
        <part name="parameters" element="tns:setGetXPayYResponse"/>
    </message>
    <message name="setBuyXOrMorePayY">
        <part name="parameters" element="tns:setBuyXOrMorePayY"/>
    </message>
    <message name="setBuyXOrMorePayYResponse">
        <part name="parameters" element="tns:setBuyXOrMorePayYResponse"/>
    </message>
    <message name="setPromotionLastItem">
        <part name="parameters" element="tns:setPromotionLastItem"/>
    </message>
    <message name="setPromotionLastItemResponse">
        <part name="parameters" element="tns:setPromotionLastItemResponse"/>
    </message>
    <message name="setBulkPrice">
        <part name="parameters" element="tns:setBulkPrice"/>
    </message>
    <message name="setBulkPriceResponse">
        <part name="parameters" element="tns:setBulkPriceResponse"/>
    </message>
    <portType name="Promotions">
        <operation name="setVirtualPack">
            <input wsam:Action="http://ws.integration.angeloni.com.br/Promotions/setVirtualPackRequest"
                   message="tns:setVirtualPack"/>
            <output wsam:Action="http://ws.integration.angeloni.com.br/Promotions/setVirtualPackResponse"
                    message="tns:setVirtualPackResponse"/>
            <fault message="tns:ResultMessageErrorInfo" name="ResultMessageErrorInfo"
                   wsam:Action="http://ws.integration.angeloni.com.br/Promotions/setVirtualPack/Fault/ResultMessageErrorInfo"/>
            <fault message="tns:ResultItemErrorInfo" name="ResultItemErrorInfo"
                   wsam:Action="http://ws.integration.angeloni.com.br/Promotions/setVirtualPack/Fault/ResultItemErrorInfo"/>
        </operation>
        <operation name="setGifts">
            <input wsam:Action="http://ws.integration.angeloni.com.br/Promotions/setGiftsRequest"
                   message="tns:setGifts"/>
            <output wsam:Action="http://ws.integration.angeloni.com.br/Promotions/setGiftsResponse"
                    message="tns:setGiftsResponse"/>
            <fault message="tns:ResultMessageErrorInfo" name="ResultMessageErrorInfo"
                   wsam:Action="http://ws.integration.angeloni.com.br/Promotions/setGifts/Fault/ResultMessageErrorInfo"/>
            <fault message="tns:ResultItemErrorInfo" name="ResultItemErrorInfo"
                   wsam:Action="http://ws.integration.angeloni.com.br/Promotions/setGifts/Fault/ResultItemErrorInfo"/>
        </operation>
        <operation name="setGetXPayY">
            <input wsam:Action="http://ws.integration.angeloni.com.br/Promotions/setGetXPayYRequest"
                   message="tns:setGetXPayY"/>
            <output wsam:Action="http://ws.integration.angeloni.com.br/Promotions/setGetXPayYResponse"
                    message="tns:setGetXPayYResponse"/>
            <fault message="tns:ResultMessageErrorInfo" name="ResultMessageErrorInfo"
                   wsam:Action="http://ws.integration.angeloni.com.br/Promotions/setGetXPayY/Fault/ResultMessageErrorInfo"/>
            <fault message="tns:ResultItemErrorInfo" name="ResultItemErrorInfo"
                   wsam:Action="http://ws.integration.angeloni.com.br/Promotions/setGetXPayY/Fault/ResultItemErrorInfo"/>
        </operation>
        <operation name="setBuyXOrMorePayY">
            <input wsam:Action="http://ws.integration.angeloni.com.br/Promotions/setBuyXOrMorePayYRequest"
                   message="tns:setBuyXOrMorePayY"/>
            <output wsam:Action="http://ws.integration.angeloni.com.br/Promotions/setBuyXOrMorePayYResponse"
                    message="tns:setBuyXOrMorePayYResponse"/>
            <fault message="tns:ResultMessageErrorInfo" name="ResultMessageErrorInfo"
                   wsam:Action="http://ws.integration.angeloni.com.br/Promotions/setBuyXOrMorePayY/Fault/ResultMessageErrorInfo"/>
            <fault message="tns:ResultItemErrorInfo" name="ResultItemErrorInfo"
                   wsam:Action="http://ws.integration.angeloni.com.br/Promotions/setBuyXOrMorePayY/Fault/ResultItemErrorInfo"/>
        </operation>
        <operation name="setPromotionLastItem">
            <input wsam:Action="http://ws.integration.angeloni.com.br/Promotions/setPromotionLastItemRequest"
                   message="tns:setPromotionLastItem"/>
            <output wsam:Action="http://ws.integration.angeloni.com.br/Promotions/setPromotionLastItemResponse"
                    message="tns:setPromotionLastItemResponse"/>
            <fault message="tns:ResultMessageErrorInfo" name="ResultMessageErrorInfo"
                   wsam:Action="http://ws.integration.angeloni.com.br/Promotions/setPromotionLastItem/Fault/ResultMessageErrorInfo"/>
            <fault message="tns:ResultItemErrorInfo" name="ResultItemErrorInfo"
                   wsam:Action="http://ws.integration.angeloni.com.br/Promotions/setPromotionLastItem/Fault/ResultItemErrorInfo"/>
        </operation>
        <operation name="setBulkPrice">
            <input wsam:Action="http://ws.integration.angeloni.com.br/Promotions/setBulkPriceRequest"
                   message="tns:setBulkPrice"/>
            <output wsam:Action="http://ws.integration.angeloni.com.br/Promotions/setBulkPriceResponse"
                    message="tns:setBulkPriceResponse"/>
            <fault message="tns:ResultMessageErrorInfo" name="ResultMessageErrorInfo"
                   wsam:Action="http://ws.integration.angeloni.com.br/Promotions/setBulkPrice/Fault/ResultMessageErrorInfo"/>
            <fault message="tns:ResultItemErrorInfo" name="ResultItemErrorInfo"
                   wsam:Action="http://ws.integration.angeloni.com.br/Promotions/setBulkPrice/Fault/ResultItemErrorInfo"/>
        </operation>
    </portType>
    <binding name="PromotionsPortBinding" type="tns:Promotions">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="setVirtualPack">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ResultMessageErrorInfo">
                <soap:fault name="ResultMessageErrorInfo" use="literal"/>
            </fault>
            <fault name="ResultItemErrorInfo">
                <soap:fault name="ResultItemErrorInfo" use="literal"/>
            </fault>
        </operation>
        <operation name="setGifts">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ResultMessageErrorInfo">
                <soap:fault name="ResultMessageErrorInfo" use="literal"/>
            </fault>
            <fault name="ResultItemErrorInfo">
                <soap:fault name="ResultItemErrorInfo" use="literal"/>
            </fault>
        </operation>
        <operation name="setGetXPayY">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ResultMessageErrorInfo">
                <soap:fault name="ResultMessageErrorInfo" use="literal"/>
            </fault>
            <fault name="ResultItemErrorInfo">
                <soap:fault name="ResultItemErrorInfo" use="literal"/>
            </fault>
        </operation>
        <operation name="setBuyXOrMorePayY">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ResultMessageErrorInfo">
                <soap:fault name="ResultMessageErrorInfo" use="literal"/>
            </fault>
            <fault name="ResultItemErrorInfo">
                <soap:fault name="ResultItemErrorInfo" use="literal"/>
            </fault>
        </operation>
        <operation name="setPromotionLastItem">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ResultMessageErrorInfo">
                <soap:fault name="ResultMessageErrorInfo" use="literal"/>
            </fault>
            <fault name="ResultItemErrorInfo">
                <soap:fault name="ResultItemErrorInfo" use="literal"/>
            </fault>
        </operation>
        <operation name="setBulkPrice">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ResultMessageErrorInfo">
                <soap:fault name="ResultMessageErrorInfo" use="literal"/>
            </fault>
            <fault name="ResultItemErrorInfo">
                <soap:fault name="ResultItemErrorInfo" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="promotions">
        <port name="PromotionsPort" binding="tns:PromotionsPortBinding">
            <soap:address location="http://atg-qa-merchan-server:7010/angeloni-bcc/promotions"/>
        </port>
    </service>
</definitions>