src/main/resources/wsdl/versionedAssets.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8-b13937 svn-revision#13942. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8-b13937 svn-revision#13942. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
             xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
             xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.integration.angeloni.com.br/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/"
             targetNamespace="http://ws.integration.angeloni.com.br/" name="versionedAssets">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://ws.integration.angeloni.com.br/" schemaLocation="versionedAssets.xsd"/>
        </xsd:schema>
    </types>
    <message name="getProductName">
        <part name="parameters" element="tns:getProductName"/>
    </message>
    <message name="getProductNameResponse">
        <part name="parameters" element="tns:getProductNameResponse"/>
    </message>
    <message name="ResultItemErrorInfo">
        <part name="fault" element="tns:ResultItemErrorInfo"/>
    </message>
    <message name="ResultMessageErrorInfo">
        <part name="fault" element="tns:ResultMessageErrorInfo"/>
    </message>
    <message name="getLastChangedProducts">
        <part name="parameters" element="tns:getLastChangedProducts"/>
    </message>
    <message name="getLastChangedProductsResponse">
        <part name="parameters" element="tns:getLastChangedProductsResponse"/>
    </message>
    <message name="syncSkuSalesCostByStore">
        <part name="parameters" element="tns:syncSkuSalesCostByStore"/>
    </message>
    <message name="syncSkuSalesCostByStoreResponse">
        <part name="parameters" element="tns:syncSkuSalesCostByStoreResponse"/>
    </message>
    <message name="syncProductRecipesInSku">
        <part name="parameters" element="tns:syncProductRecipesInSku"/>
    </message>
    <message name="syncProductRecipesInSkuResponse">
        <part name="parameters" element="tns:syncProductRecipesInSkuResponse"/>
    </message>
    <message name="getLongDescriptionBySite">
        <part name="parameters" element="tns:getLongDescriptionBySite"/>
    </message>
    <message name="getLongDescriptionBySiteResponse">
        <part name="parameters" element="tns:getLongDescriptionBySiteResponse"/>
    </message>
    <message name="syncLongDescriptionBySite">
        <part name="parameters" element="tns:syncLongDescriptionBySite"/>
    </message>
    <message name="syncLongDescriptionBySiteResponse">
        <part name="parameters" element="tns:syncLongDescriptionBySiteResponse"/>
    </message>
    <message name="syncPackageDimensions">
        <part name="parameters" element="tns:syncPackageDimensions"/>
    </message>
    <message name="syncPackageDimensionsResponse">
        <part name="parameters" element="tns:syncPackageDimensionsResponse"/>
    </message>
    <message name="syncProduct">
        <part name="parameters" element="tns:syncProduct"/>
    </message>
    <message name="syncProductResponse">
        <part name="parameters" element="tns:syncProductResponse"/>
    </message>
    <message name="syncProductCategory">
        <part name="parameters" element="tns:syncProductCategory"/>
    </message>
    <message name="syncProductCategoryResponse">
        <part name="parameters" element="tns:syncProductCategoryResponse"/>
    </message>
    <message name="syncBeverageProduct">
        <part name="parameters" element="tns:syncBeverageProduct"/>
    </message>
    <message name="syncBeverageProductResponse">
        <part name="parameters" element="tns:syncBeverageProductResponse"/>
    </message>
    <message name="syncSku">
        <part name="parameters" element="tns:syncSku"/>
    </message>
    <message name="syncSkuResponse">
        <part name="parameters" element="tns:syncSkuResponse"/>
    </message>
    <message name="syncBeverageSku">
        <part name="parameters" element="tns:syncBeverageSku"/>
    </message>
    <message name="syncBeverageSkuResponse">
        <part name="parameters" element="tns:syncBeverageSkuResponse"/>
    </message>
    <message name="syncFeature">
        <part name="parameters" element="tns:syncFeature"/>
    </message>
    <message name="syncFeatureResponse">
        <part name="parameters" element="tns:syncFeatureResponse"/>
    </message>
    <message name="syncPriceList">
        <part name="parameters" element="tns:syncPriceList"/>
    </message>
    <message name="syncPriceListResponse">
        <part name="parameters" element="tns:syncPriceListResponse"/>
    </message>
    <message name="getPrice">
        <part name="parameters" element="tns:getPrice"/>
    </message>
    <message name="getPriceResponse">
        <part name="parameters" element="tns:getPriceResponse"/>
    </message>
    <message name="syncSkuMediasSet">
        <part name="parameters" element="tns:syncSkuMediasSet"/>
    </message>
    <message name="syncSkuMediasSetResponse">
        <part name="parameters" element="tns:syncSkuMediasSetResponse"/>
    </message>
    <message name="syncPamhplet">
        <part name="parameters" element="tns:syncPamhplet"/>
    </message>
    <message name="syncPamhpletResponse">
        <part name="parameters" element="tns:syncPamhpletResponse"/>
    </message>
    <message name="syncSkuSalesCost">
        <part name="parameters" element="tns:syncSkuSalesCost"/>
    </message>
    <message name="syncSkuSalesCostResponse">
        <part name="parameters" element="tns:syncSkuSalesCostResponse"/>
    </message>
    <message name="syncProductLoose">
        <part name="parameters" element="tns:syncProductLoose"/>
    </message>
    <message name="syncProductLooseResponse">
        <part name="parameters" element="tns:syncProductLooseResponse"/>
    </message>
    <message name="syncSkuLoose">
        <part name="parameters" element="tns:syncSkuLoose"/>
    </message>
    <message name="syncSkuLooseResponse">
        <part name="parameters" element="tns:syncSkuLooseResponse"/>
    </message>
    <message name="syncSkuBundleLinks">
        <part name="parameters" element="tns:syncSkuBundleLinks"/>
    </message>
    <message name="syncSkuBundleLinksResponse">
        <part name="parameters" element="tns:syncSkuBundleLinksResponse"/>
    </message>
    <message name="syncDotz">
        <part name="parameters" element="tns:syncDotz"/>
    </message>
    <message name="syncDotzResponse">
        <part name="parameters" element="tns:syncDotzResponse"/>
    </message>
    <message name="syncProductRecipe">
        <part name="parameters" element="tns:syncProductRecipe"/>
    </message>
    <message name="syncProductRecipeResponse">
        <part name="parameters" element="tns:syncProductRecipeResponse"/>
    </message>
    <message name="syncSkuRecipe">
        <part name="parameters" element="tns:syncSkuRecipe"/>
    </message>
    <message name="syncSkuRecipeResponse">
        <part name="parameters" element="tns:syncSkuRecipeResponse"/>
    </message>
    <message name="syncListIngredients">
        <part name="parameters" element="tns:syncListIngredients"/>
    </message>
    <message name="syncListIngredientsResponse">
        <part name="parameters" element="tns:syncListIngredientsResponse"/>
    </message>
    <message name="setMaxQuantityBuy">
        <part name="parameters" element="tns:setMaxQuantityBuy"/>
    </message>
    <message name="setMaxQuantityBuyResponse">
        <part name="parameters" element="tns:setMaxQuantityBuyResponse"/>
    </message>
    <message name="setEAN">
        <part name="parameters" element="tns:setEAN"/>
    </message>
    <message name="setEANResponse">
        <part name="parameters" element="tns:setEANResponse"/>
    </message>
    <message name="syncSkuWithdrawStore">
        <part name="parameters" element="tns:syncSkuWithdrawStore"/>
    </message>
    <message name="syncSkuWithdrawStoreResponse">
        <part name="parameters" element="tns:syncSkuWithdrawStoreResponse"/>
    </message>
    <portType name="VersionedAssets">
        <operation name="getProductName">
            <input wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/getProductNameRequest"
                   message="tns:getProductName"/>
            <output wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/getProductNameResponse"
                    message="tns:getProductNameResponse"/>
            <fault message="tns:ResultItemErrorInfo" name="ResultItemErrorInfo"
                   wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/getProductName/Fault/ResultItemErrorInfo"/>
            <fault message="tns:ResultMessageErrorInfo" name="ResultMessageErrorInfo"
                   wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/getProductName/Fault/ResultMessageErrorInfo"/>
        </operation>
        <operation name="getLastChangedProducts">
            <input wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/getLastChangedProductsRequest"
                   message="tns:getLastChangedProducts"/>
            <output wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/getLastChangedProductsResponse"
                    message="tns:getLastChangedProductsResponse"/>
            <fault message="tns:ResultItemErrorInfo" name="ResultItemErrorInfo"
                   wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/getLastChangedProducts/Fault/ResultItemErrorInfo"/>
            <fault message="tns:ResultMessageErrorInfo" name="ResultMessageErrorInfo"
                   wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/getLastChangedProducts/Fault/ResultMessageErrorInfo"/>
        </operation>
        <operation name="syncSkuSalesCostByStore">
            <input wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/syncSkuSalesCostByStoreRequest"
                   message="tns:syncSkuSalesCostByStore"/>
            <output wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/syncSkuSalesCostByStoreResponse"
                    message="tns:syncSkuSalesCostByStoreResponse"/>
            <fault message="tns:ResultItemErrorInfo" name="ResultItemErrorInfo"
                   wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/syncSkuSalesCostByStore/Fault/ResultItemErrorInfo"/>
            <fault message="tns:ResultMessageErrorInfo" name="ResultMessageErrorInfo"
                   wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/syncSkuSalesCostByStore/Fault/ResultMessageErrorInfo"/>
        </operation>
        <operation name="syncProductRecipesInSku">
            <input wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/syncProductRecipesInSkuRequest"
                   message="tns:syncProductRecipesInSku"/>
            <output wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/syncProductRecipesInSkuResponse"
                    message="tns:syncProductRecipesInSkuResponse"/>
            <fault message="tns:ResultItemErrorInfo" name="ResultItemErrorInfo"
                   wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/syncProductRecipesInSku/Fault/ResultItemErrorInfo"/>
            <fault message="tns:ResultMessageErrorInfo" name="ResultMessageErrorInfo"
                   wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/syncProductRecipesInSku/Fault/ResultMessageErrorInfo"/>
        </operation>
        <operation name="getLongDescriptionBySite">
            <input wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/getLongDescriptionBySiteRequest"
                   message="tns:getLongDescriptionBySite"/>
            <output wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/getLongDescriptionBySiteResponse"
                    message="tns:getLongDescriptionBySiteResponse"/>
            <fault message="tns:ResultItemErrorInfo" name="ResultItemErrorInfo"
                   wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/getLongDescriptionBySite/Fault/ResultItemErrorInfo"/>
            <fault message="tns:ResultMessageErrorInfo" name="ResultMessageErrorInfo"
                   wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/getLongDescriptionBySite/Fault/ResultMessageErrorInfo"/>
        </operation>
        <operation name="syncLongDescriptionBySite">
            <input wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/syncLongDescriptionBySiteRequest"
                   message="tns:syncLongDescriptionBySite"/>
            <output wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/syncLongDescriptionBySiteResponse"
                    message="tns:syncLongDescriptionBySiteResponse"/>
            <fault message="tns:ResultItemErrorInfo" name="ResultItemErrorInfo"
                   wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/syncLongDescriptionBySite/Fault/ResultItemErrorInfo"/>
            <fault message="tns:ResultMessageErrorInfo" name="ResultMessageErrorInfo"
                   wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/syncLongDescriptionBySite/Fault/ResultMessageErrorInfo"/>
        </operation>
        <operation name="syncPackageDimensions">
            <input wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/syncPackageDimensionsRequest"
                   message="tns:syncPackageDimensions"/>
            <output wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/syncPackageDimensionsResponse"
                    message="tns:syncPackageDimensionsResponse"/>
            <fault message="tns:ResultMessageErrorInfo" name="ResultMessageErrorInfo"
                   wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/syncPackageDimensions/Fault/ResultMessageErrorInfo"/>
            <fault message="tns:ResultItemErrorInfo" name="ResultItemErrorInfo"
                   wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/syncPackageDimensions/Fault/ResultItemErrorInfo"/>
        </operation>
        <operation name="syncProduct">
            <input wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/syncProductRequest"
                   message="tns:syncProduct"/>
            <output wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/syncProductResponse"
                    message="tns:syncProductResponse"/>
            <fault message="tns:ResultItemErrorInfo" name="ResultItemErrorInfo"
                   wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/syncProduct/Fault/ResultItemErrorInfo"/>
            <fault message="tns:ResultMessageErrorInfo" name="ResultMessageErrorInfo"
                   wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/syncProduct/Fault/ResultMessageErrorInfo"/>
        </operation>
        <operation name="syncProductCategory">
            <input wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/syncProductCategoryRequest"
                   message="tns:syncProductCategory"/>
            <output wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/syncProductCategoryResponse"
                    message="tns:syncProductCategoryResponse"/>
            <fault message="tns:ResultItemErrorInfo" name="ResultItemErrorInfo"
                   wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/syncProductCategory/Fault/ResultItemErrorInfo"/>
            <fault message="tns:ResultMessageErrorInfo" name="ResultMessageErrorInfo"
                   wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/syncProductCategory/Fault/ResultMessageErrorInfo"/>
        </operation>
        <operation name="syncBeverageProduct">
            <input wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/syncBeverageProductRequest"
                   message="tns:syncBeverageProduct"/>
            <output wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/syncBeverageProductResponse"
                    message="tns:syncBeverageProductResponse"/>
            <fault message="tns:ResultItemErrorInfo" name="ResultItemErrorInfo"
                   wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/syncBeverageProduct/Fault/ResultItemErrorInfo"/>
            <fault message="tns:ResultMessageErrorInfo" name="ResultMessageErrorInfo"
                   wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/syncBeverageProduct/Fault/ResultMessageErrorInfo"/>
        </operation>
        <operation name="syncSku">
            <input wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/syncSkuRequest"
                   message="tns:syncSku"/>
            <output wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/syncSkuResponse"
                    message="tns:syncSkuResponse"/>
            <fault message="tns:ResultItemErrorInfo" name="ResultItemErrorInfo"
                   wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/syncSku/Fault/ResultItemErrorInfo"/>
            <fault message="tns:ResultMessageErrorInfo" name="ResultMessageErrorInfo"
                   wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/syncSku/Fault/ResultMessageErrorInfo"/>
        </operation>
        <operation name="syncBeverageSku">
            <input wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/syncBeverageSkuRequest"
                   message="tns:syncBeverageSku"/>
            <output wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/syncBeverageSkuResponse"
                    message="tns:syncBeverageSkuResponse"/>
            <fault message="tns:ResultItemErrorInfo" name="ResultItemErrorInfo"
                   wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/syncBeverageSku/Fault/ResultItemErrorInfo"/>
            <fault message="tns:ResultMessageErrorInfo" name="ResultMessageErrorInfo"
                   wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/syncBeverageSku/Fault/ResultMessageErrorInfo"/>
        </operation>
        <operation name="syncFeature">
            <input wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/syncFeatureRequest"
                   message="tns:syncFeature"/>
            <output wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/syncFeatureResponse"
                    message="tns:syncFeatureResponse"/>
            <fault message="tns:ResultItemErrorInfo" name="ResultItemErrorInfo"
                   wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/syncFeature/Fault/ResultItemErrorInfo"/>
            <fault message="tns:ResultMessageErrorInfo" name="ResultMessageErrorInfo"
                   wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/syncFeature/Fault/ResultMessageErrorInfo"/>
        </operation>
        <operation name="syncPriceList">
            <input wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/syncPriceListRequest"
                   message="tns:syncPriceList"/>
            <output wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/syncPriceListResponse"
                    message="tns:syncPriceListResponse"/>
            <fault message="tns:ResultItemErrorInfo" name="ResultItemErrorInfo"
                   wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/syncPriceList/Fault/ResultItemErrorInfo"/>
            <fault message="tns:ResultMessageErrorInfo" name="ResultMessageErrorInfo"
                   wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/syncPriceList/Fault/ResultMessageErrorInfo"/>
        </operation>
        <operation name="getPrice">
            <input wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/getPriceRequest"
                   message="tns:getPrice"/>
            <output wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/getPriceResponse"
                    message="tns:getPriceResponse"/>
            <fault message="tns:ResultMessageErrorInfo" name="ResultMessageErrorInfo"
                   wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/getPrice/Fault/ResultMessageErrorInfo"/>
        </operation>
        <operation name="syncSkuMediasSet">
            <input wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/syncSkuMediasSetRequest"
                   message="tns:syncSkuMediasSet"/>
            <output wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/syncSkuMediasSetResponse"
                    message="tns:syncSkuMediasSetResponse"/>
            <fault message="tns:ResultItemErrorInfo" name="ResultItemErrorInfo"
                   wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/syncSkuMediasSet/Fault/ResultItemErrorInfo"/>
            <fault message="tns:ResultMessageErrorInfo" name="ResultMessageErrorInfo"
                   wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/syncSkuMediasSet/Fault/ResultMessageErrorInfo"/>
        </operation>
        <operation name="syncPamhplet">
            <input wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/syncPamhpletRequest"
                   message="tns:syncPamhplet"/>
            <output wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/syncPamhpletResponse"
                    message="tns:syncPamhpletResponse"/>
            <fault message="tns:ResultItemErrorInfo" name="ResultItemErrorInfo"
                   wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/syncPamhplet/Fault/ResultItemErrorInfo"/>
            <fault message="tns:ResultMessageErrorInfo" name="ResultMessageErrorInfo"
                   wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/syncPamhplet/Fault/ResultMessageErrorInfo"/>
        </operation>
        <operation name="syncSkuSalesCost">
            <input wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/syncSkuSalesCostRequest"
                   message="tns:syncSkuSalesCost"/>
            <output wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/syncSkuSalesCostResponse"
                    message="tns:syncSkuSalesCostResponse"/>
            <fault message="tns:ResultItemErrorInfo" name="ResultItemErrorInfo"
                   wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/syncSkuSalesCost/Fault/ResultItemErrorInfo"/>
            <fault message="tns:ResultMessageErrorInfo" name="ResultMessageErrorInfo"
                   wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/syncSkuSalesCost/Fault/ResultMessageErrorInfo"/>
        </operation>
        <operation name="syncProductLoose">
            <input wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/syncProductLooseRequest"
                   message="tns:syncProductLoose"/>
            <output wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/syncProductLooseResponse"
                    message="tns:syncProductLooseResponse"/>
            <fault message="tns:ResultItemErrorInfo" name="ResultItemErrorInfo"
                   wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/syncProductLoose/Fault/ResultItemErrorInfo"/>
            <fault message="tns:ResultMessageErrorInfo" name="ResultMessageErrorInfo"
                   wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/syncProductLoose/Fault/ResultMessageErrorInfo"/>
        </operation>
        <operation name="syncSkuLoose">
            <input wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/syncSkuLooseRequest"
                   message="tns:syncSkuLoose"/>
            <output wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/syncSkuLooseResponse"
                    message="tns:syncSkuLooseResponse"/>
            <fault message="tns:ResultItemErrorInfo" name="ResultItemErrorInfo"
                   wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/syncSkuLoose/Fault/ResultItemErrorInfo"/>
            <fault message="tns:ResultMessageErrorInfo" name="ResultMessageErrorInfo"
                   wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/syncSkuLoose/Fault/ResultMessageErrorInfo"/>
        </operation>
        <operation name="syncSkuBundleLinks">
            <input wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/syncSkuBundleLinksRequest"
                   message="tns:syncSkuBundleLinks"/>
            <output wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/syncSkuBundleLinksResponse"
                    message="tns:syncSkuBundleLinksResponse"/>
            <fault message="tns:ResultItemErrorInfo" name="ResultItemErrorInfo"
                   wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/syncSkuBundleLinks/Fault/ResultItemErrorInfo"/>
            <fault message="tns:ResultMessageErrorInfo" name="ResultMessageErrorInfo"
                   wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/syncSkuBundleLinks/Fault/ResultMessageErrorInfo"/>
        </operation>
        <operation name="syncDotz">
            <input wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/syncDotzRequest"
                   message="tns:syncDotz"/>
            <output wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/syncDotzResponse"
                    message="tns:syncDotzResponse"/>
            <fault message="tns:ResultItemErrorInfo" name="ResultItemErrorInfo"
                   wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/syncDotz/Fault/ResultItemErrorInfo"/>
            <fault message="tns:ResultMessageErrorInfo" name="ResultMessageErrorInfo"
                   wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/syncDotz/Fault/ResultMessageErrorInfo"/>
        </operation>
        <operation name="syncProductRecipe">
            <input wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/syncProductRecipeRequest"
                   message="tns:syncProductRecipe"/>
            <output wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/syncProductRecipeResponse"
                    message="tns:syncProductRecipeResponse"/>
            <fault message="tns:ResultItemErrorInfo" name="ResultItemErrorInfo"
                   wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/syncProductRecipe/Fault/ResultItemErrorInfo"/>
            <fault message="tns:ResultMessageErrorInfo" name="ResultMessageErrorInfo"
                   wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/syncProductRecipe/Fault/ResultMessageErrorInfo"/>
        </operation>
        <operation name="syncSkuRecipe">
            <input wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/syncSkuRecipeRequest"
                   message="tns:syncSkuRecipe"/>
            <output wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/syncSkuRecipeResponse"
                    message="tns:syncSkuRecipeResponse"/>
            <fault message="tns:ResultItemErrorInfo" name="ResultItemErrorInfo"
                   wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/syncSkuRecipe/Fault/ResultItemErrorInfo"/>
            <fault message="tns:ResultMessageErrorInfo" name="ResultMessageErrorInfo"
                   wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/syncSkuRecipe/Fault/ResultMessageErrorInfo"/>
        </operation>
        <operation name="syncListIngredients">
            <input wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/syncListIngredientsRequest"
                   message="tns:syncListIngredients"/>
            <output wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/syncListIngredientsResponse"
                    message="tns:syncListIngredientsResponse"/>
            <fault message="tns:ResultItemErrorInfo" name="ResultItemErrorInfo"
                   wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/syncListIngredients/Fault/ResultItemErrorInfo"/>
            <fault message="tns:ResultMessageErrorInfo" name="ResultMessageErrorInfo"
                   wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/syncListIngredients/Fault/ResultMessageErrorInfo"/>
        </operation>
        <operation name="setMaxQuantityBuy">
            <input wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/setMaxQuantityBuyRequest"
                   message="tns:setMaxQuantityBuy"/>
            <output wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/setMaxQuantityBuyResponse"
                    message="tns:setMaxQuantityBuyResponse"/>
            <fault message="tns:ResultMessageErrorInfo" name="ResultMessageErrorInfo"
                   wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/setMaxQuantityBuy/Fault/ResultMessageErrorInfo"/>
        </operation>
        <operation name="setEAN">
            <input wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/setEANRequest"
                   message="tns:setEAN"/>
            <output wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/setEANResponse"
                    message="tns:setEANResponse"/>
            <fault message="tns:ResultMessageErrorInfo" name="ResultMessageErrorInfo"
                   wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/setEAN/Fault/ResultMessageErrorInfo"/>
        </operation>
        <operation name="syncSkuWithdrawStore">
            <input wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/syncSkuWithdrawStoreRequest"
                   message="tns:syncSkuWithdrawStore"/>
            <output wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/syncSkuWithdrawStoreResponse"
                    message="tns:syncSkuWithdrawStoreResponse"/>
            <fault message="tns:ResultItemErrorInfo" name="ResultItemErrorInfo"
                   wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/syncSkuWithdrawStore/Fault/ResultItemErrorInfo"/>
            <fault message="tns:ResultMessageErrorInfo" name="ResultMessageErrorInfo"
                   wsam:Action="http://ws.integration.angeloni.com.br/VersionedAssets/syncSkuWithdrawStore/Fault/ResultMessageErrorInfo"/>
        </operation>
    </portType>
    <binding name="VersionedAssetsPortBinding" type="tns:VersionedAssets">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="getProductName">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ResultItemErrorInfo">
                <soap:fault name="ResultItemErrorInfo" use="literal"/>
            </fault>
            <fault name="ResultMessageErrorInfo">
                <soap:fault name="ResultMessageErrorInfo" use="literal"/>
            </fault>
        </operation>
        <operation name="getLastChangedProducts">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ResultItemErrorInfo">
                <soap:fault name="ResultItemErrorInfo" use="literal"/>
            </fault>
            <fault name="ResultMessageErrorInfo">
                <soap:fault name="ResultMessageErrorInfo" use="literal"/>
            </fault>
        </operation>
        <operation name="syncSkuSalesCostByStore">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ResultItemErrorInfo">
                <soap:fault name="ResultItemErrorInfo" use="literal"/>
            </fault>
            <fault name="ResultMessageErrorInfo">
                <soap:fault name="ResultMessageErrorInfo" use="literal"/>
            </fault>
        </operation>
        <operation name="syncProductRecipesInSku">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ResultItemErrorInfo">
                <soap:fault name="ResultItemErrorInfo" use="literal"/>
            </fault>
            <fault name="ResultMessageErrorInfo">
                <soap:fault name="ResultMessageErrorInfo" use="literal"/>
            </fault>
        </operation>
        <operation name="getLongDescriptionBySite">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ResultItemErrorInfo">
                <soap:fault name="ResultItemErrorInfo" use="literal"/>
            </fault>
            <fault name="ResultMessageErrorInfo">
                <soap:fault name="ResultMessageErrorInfo" use="literal"/>
            </fault>
        </operation>
        <operation name="syncLongDescriptionBySite">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ResultItemErrorInfo">
                <soap:fault name="ResultItemErrorInfo" use="literal"/>
            </fault>
            <fault name="ResultMessageErrorInfo">
                <soap:fault name="ResultMessageErrorInfo" use="literal"/>
            </fault>
        </operation>
        <operation name="syncPackageDimensions">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ResultMessageErrorInfo">
                <soap:fault name="ResultMessageErrorInfo" use="literal"/>
            </fault>
            <fault name="ResultItemErrorInfo">
                <soap:fault name="ResultItemErrorInfo" use="literal"/>
            </fault>
        </operation>
        <operation name="syncProduct">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ResultItemErrorInfo">
                <soap:fault name="ResultItemErrorInfo" use="literal"/>
            </fault>
            <fault name="ResultMessageErrorInfo">
                <soap:fault name="ResultMessageErrorInfo" use="literal"/>
            </fault>
        </operation>
        <operation name="syncProductCategory">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ResultItemErrorInfo">
                <soap:fault name="ResultItemErrorInfo" use="literal"/>
            </fault>
            <fault name="ResultMessageErrorInfo">
                <soap:fault name="ResultMessageErrorInfo" use="literal"/>
            </fault>
        </operation>
        <operation name="syncBeverageProduct">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ResultItemErrorInfo">
                <soap:fault name="ResultItemErrorInfo" use="literal"/>
            </fault>
            <fault name="ResultMessageErrorInfo">
                <soap:fault name="ResultMessageErrorInfo" use="literal"/>
            </fault>
        </operation>
        <operation name="syncSku">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ResultItemErrorInfo">
                <soap:fault name="ResultItemErrorInfo" use="literal"/>
            </fault>
            <fault name="ResultMessageErrorInfo">
                <soap:fault name="ResultMessageErrorInfo" use="literal"/>
            </fault>
        </operation>
        <operation name="syncBeverageSku">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ResultItemErrorInfo">
                <soap:fault name="ResultItemErrorInfo" use="literal"/>
            </fault>
            <fault name="ResultMessageErrorInfo">
                <soap:fault name="ResultMessageErrorInfo" use="literal"/>
            </fault>
        </operation>
        <operation name="syncFeature">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ResultItemErrorInfo">
                <soap:fault name="ResultItemErrorInfo" use="literal"/>
            </fault>
            <fault name="ResultMessageErrorInfo">
                <soap:fault name="ResultMessageErrorInfo" use="literal"/>
            </fault>
        </operation>
        <operation name="syncPriceList">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ResultItemErrorInfo">
                <soap:fault name="ResultItemErrorInfo" use="literal"/>
            </fault>
            <fault name="ResultMessageErrorInfo">
                <soap:fault name="ResultMessageErrorInfo" use="literal"/>
            </fault>
        </operation>
        <operation name="getPrice">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ResultMessageErrorInfo">
                <soap:fault name="ResultMessageErrorInfo" use="literal"/>
            </fault>
            <fault name="ResultMessageErrorInfo">
                <soap:fault name="ResultMessageErrorInfo" use="literal"/>
            </fault>
        </operation>
        <operation name="syncSkuMediasSet">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ResultItemErrorInfo">
                <soap:fault name="ResultItemErrorInfo" use="literal"/>
            </fault>
            <fault name="ResultMessageErrorInfo">
                <soap:fault name="ResultMessageErrorInfo" use="literal"/>
            </fault>
        </operation>
        <operation name="syncPamhplet">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ResultItemErrorInfo">
                <soap:fault name="ResultItemErrorInfo" use="literal"/>
            </fault>
            <fault name="ResultMessageErrorInfo">
                <soap:fault name="ResultMessageErrorInfo" use="literal"/>
            </fault>
        </operation>
        <operation name="syncSkuSalesCost">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ResultItemErrorInfo">
                <soap:fault name="ResultItemErrorInfo" use="literal"/>
            </fault>
            <fault name="ResultMessageErrorInfo">
                <soap:fault name="ResultMessageErrorInfo" use="literal"/>
            </fault>
        </operation>
        <operation name="syncProductLoose">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ResultItemErrorInfo">
                <soap:fault name="ResultItemErrorInfo" use="literal"/>
            </fault>
            <fault name="ResultMessageErrorInfo">
                <soap:fault name="ResultMessageErrorInfo" use="literal"/>
            </fault>
        </operation>
        <operation name="syncSkuLoose">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ResultItemErrorInfo">
                <soap:fault name="ResultItemErrorInfo" use="literal"/>
            </fault>
            <fault name="ResultMessageErrorInfo">
                <soap:fault name="ResultMessageErrorInfo" use="literal"/>
            </fault>
        </operation>
        <operation name="syncSkuBundleLinks">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ResultItemErrorInfo">
                <soap:fault name="ResultItemErrorInfo" use="literal"/>
            </fault>
            <fault name="ResultMessageErrorInfo">
                <soap:fault name="ResultMessageErrorInfo" use="literal"/>
            </fault>
        </operation>
        <operation name="syncDotz">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ResultItemErrorInfo">
                <soap:fault name="ResultItemErrorInfo" use="literal"/>
            </fault>
            <fault name="ResultMessageErrorInfo">
                <soap:fault name="ResultMessageErrorInfo" use="literal"/>
            </fault>
        </operation>
        <operation name="syncProductRecipe">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ResultItemErrorInfo">
                <soap:fault name="ResultItemErrorInfo" use="literal"/>
            </fault>
            <fault name="ResultMessageErrorInfo">
                <soap:fault name="ResultMessageErrorInfo" use="literal"/>
            </fault>
        </operation>
        <operation name="syncSkuRecipe">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ResultItemErrorInfo">
                <soap:fault name="ResultItemErrorInfo" use="literal"/>
            </fault>
            <fault name="ResultMessageErrorInfo">
                <soap:fault name="ResultMessageErrorInfo" use="literal"/>
            </fault>
        </operation>
        <operation name="syncListIngredients">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ResultItemErrorInfo">
                <soap:fault name="ResultItemErrorInfo" use="literal"/>
            </fault>
            <fault name="ResultMessageErrorInfo">
                <soap:fault name="ResultMessageErrorInfo" use="literal"/>
            </fault>
        </operation>
        <operation name="setMaxQuantityBuy">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ResultMessageErrorInfo">
                <soap:fault name="ResultMessageErrorInfo" use="literal"/>
            </fault>
            <fault name="ResultMessageErrorInfo">
                <soap:fault name="ResultMessageErrorInfo" use="literal"/>
            </fault>
        </operation>
        <operation name="setEAN">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ResultMessageErrorInfo">
                <soap:fault name="ResultMessageErrorInfo" use="literal"/>
            </fault>
            <fault name="ResultMessageErrorInfo">
                <soap:fault name="ResultMessageErrorInfo" use="literal"/>
            </fault>
        </operation>
        <operation name="syncSkuWithdrawStore">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ResultItemErrorInfo">
                <soap:fault name="ResultItemErrorInfo" use="literal"/>
            </fault>
            <fault name="ResultMessageErrorInfo">
                <soap:fault name="ResultMessageErrorInfo" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="versionedAssets">
        <port name="VersionedAssetsPort" binding="tns:VersionedAssetsPortBinding">
            <soap:address location="http://atg-qa-merchan-server:7010/angeloni-bcc/versionedAssets"/>
        </port>
    </service>
</definitions>